.geo-chart-container {
	width: 100%;
}

#geo-chart {
	height: 525px;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.custom-hr {
	margin-top: 15px;
	margin-bottom: 15px;
}

.flag-image {
	height: 35px;
	width: 55px;
}

.travel-places-title {
	margin-top: 5%;
	margin-bottom: 2.5%;
	height: 5%;
}

.travel-places-title p {
	text-align: center;
	font-size: 32px;
	font-family: 'Caveat', 'Karla', sans-serif;
	color: black;
}

.travel-places-container {
	width: 100%;
	height: 2000px;
}

.travel-place-container {
	width: 100%;
	height: 17.5%;
	margin-bottom: 1.5%;
}

.place-title {
	width: 100%;
	height: 10%;
	margin-bottom: 1%;
}

.place-title p {
	font-size: 24px;
	color: black;
}

.place-photo-desc-container {
	width: 100%;
	height: 40%;
	display: block;
	margin-bottom: 1%;
}

.place-photo-container {
	width: 23.5%;
	height: auto;
	display: inline-block;
	float: left;
}

.place-photo {
	width: 100%;
	height: 100%;
}

.place-description {
	width: 72.5%;
	height: 100%;
	display: inline-block;
	float: right;
}

.place-description p {
	font-size: 14px;
}

.place-line-chart {
	width: 100%;
	height: 40%;
	display: block;
}

/** {
	box-sizing: border-box;
	font-family: sans-serif;
}
html,
body{
	margin:0;
	padding:0;
	text-align: center;
}*/

.slider {
	margin: 4em 0;
}
.startyear,
.endyear {
	float: left;
	width: 10vw;
	color: #333;
	text-align: right;
	font-weight: bold;
}
.endyear {
	text-align: left;
}
.setyear {
	position: absolute;
	top: -2.5em;
	left: 50%;
	width: 60px;
	height: 1em;
	text-align: center;
	color: #333;
	font-weight: bold;
	white-space: nowrap;
}
.range {
	position: relative;
	float: left;
	width: 100%;
	padding: 0 0.9375rem;
}
input[type=range] {
	-webkit-appearance: none;
	display: block;
	width: 100%;
	height: 10px;
	padding: 0;
	border-radius: 4px;
	background: #109618;
	box-sizing: content-box;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 25px;
	background: #6EA9E1;
}
/* Would be nice doesn't show in Chrome
input[type=range]::-webkit-slider-thumb:before {
	content: attr(data-count);
	display: block;
	background: green;
	width: 10px;
	height: 10px;
}
*/
