.slider-container {
    position: absolute;
	width: 885px;
    top: 30px;
    left: 30px;
	z-index: 1;
}

.geo-chart-container {
	width: 100%;
}

#geo-chart {
	height: 525px;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.custom-hr {
	margin-top: 15px;
	margin-bottom: 15px;
}

.flag-image {
	height: 35px;
	width: 55px;
}

.travel-places-title {
	margin-top: 5%;
	margin-bottom: 2.5%;
	height: 5%;
}

.travel-places-title p {
	text-align: center;
	font-size: 32px;
	font-family: 'Caveat', 'Karla', sans-serif;
	color: black;
}

.travel-places-container {
	width: 100%;
	height: 2000px;
}

.travel-place-container {
	width: 100%;
	height: 17.5%;
	margin-bottom: 1.5%;
}

.place-title {
	width: 100%;
	height: 10%;
	margin-bottom: 1%;
}

.place-title p {
	font-size: 24px;
	color: black;
}

.place-photo-desc-container {
	width: 100%;
	height: 40%;
	display: block;
	margin-bottom: 1%;
}

.place-photo-container {
	width: 23.5%;
	height: auto;
	display: inline-block;
	float: left;
}

.place-photo {
	width: 100%;
	height: 100%;
}

.place-description {
	width: 72.5%;
	height: 100%;
	display: inline-block;
	float: right;
}

.place-description p {
	font-size: 14px;
}

.place-line-chart {
	width: 100%;
	height: 40%;
	display: block;
}